<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Mars Page</title>
</head>

<body>

    <div class='containerback-grey'>
        <h1 id="big-font">Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Go to Mars!</a></p>
    </div>


    <h2>Latest Mars News</h2>
    <h3>{{ space.title }}</h3>
    <p>{{ space.news }}</p>

    <div class='container'>
        <h3>Current Weather on Mars</h3>
        <p>{{ space.weather }}</p>

        <h3>Mars Facts</h3>
        <table>{{ space.fixed_table_data|safe }}</table>
    </div>

    <h2>Featured Mars Image</h2>
    <img src="{{ space.featured_image }}" alt="Current Featured Image">


    <div class='container'>
        <div class='col-md-6'>
            <h2>{{ space['hemispheres'][0]['title'] }}</h2>
            <img src="{{ space['hemispheres'][0]['img_url'] }}" alt="Cerebrus">
        </div>
        <div class='col-md-6'>
            <h2>{{ space['hemispheres'][1]['title'] }}</h2>
            <img src="{{ space['hemispheres'][1]['img_url'] }}" alt="Schiaparelli">
        </div>

    </div>

    <div class='container'>
        <div class='col-md-6'>
            <h2>{{ space['hemispheres'][2]['title'] }}</h2>
            <img src="{{ space['hemispheres'][2]['img_url'] }}" alt="Syrtis">
        </div>
        <div class='col-md-6'>
            <h2>{{ space['hemispheres'][3]['title'] }}</h2>
            <img src="{{ space['hemispheres'][3]['img_url'] }}" alt="Valles">
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>